{% extends "base.html" %}
{% block content %}
        <article>
          <ul>
            <li>
              <p>Место: {{ post.location }}</p>          
            </li>
            <li>
              <p>Дата: {{ post.date }}</p>
            </li>
            <li>
              Категория: <a href="{% url 'blog:category_posts' category_slug=post.category %}">{{ post.category }}</a></p> 
            </li>
          </ul>         
          <p>
            {{ post.text|linebreaks }}
          </p>          
        </article>                
      </div>
{% endblock %}